
.menu {
	position:fixed;
	right:40px;
	color: #858585;
	height: 30px;
	bottom:0px;
}

.ib {
	display: inline-block;
	text-decoration: none;
	margin-left: 20px;
	vertical-align: center;
}