<div class="row">
  	<div class="col-md-4 col-md-offset-4 bgray" style="padding: 30px">
			<%= image_tag @user.avatar.url(:thumb), class: "img-circle" %>

			<%= @user.name %>

			<%= @user.description %>

	</div>
</div>
