
<header class= "bgimage">
	<nav>
		<ul id="sm">
			<li class="menu"><img id="" src="" alt="Facebook"></li>
			<li class="menu"><img id="" src="" alt="Instagram"></li>
			<li class="menu"><img id="" src="" alt="Google +"></li>
			<li class="menu"><img src="" alt="Pinterest"></li>
		</ul>
	</nav>

	<div class="info">
		<h1>Share&save</h1>
		<p>Where you will save money sharing with friends.</p>
		<button>Have a look!</button>
		<button>Login</button>
	</div>

</header>
