<main>
	<nav>
		<ul class="sm">
			<li class="ib ">Follow us: </li>
			<li class="ib fa fa-twitter" alt="Twitter"></li>
			<li class="ib fa fa-instagram"></li>
			<li class="ib fa fa-google-plus" alt="Google +"></li>
			<li class="ib fa fa-facebook" alt="Pinterest"></li>
		</ul>
	</nav>

	<div class="info">
		<%= image_tag("logo-big.png", :alt => "logo") %>
		<p>Where you will save money sharing with friends.</p>
		<div class="buttons-home">
		<button class="btn btn-default">Have a look!</button>
		<button class="btn btn-primary">Sign up!</button>
		</div>
	</div>

	<footer>
		<ul class="menu">
			<li class="ib">Contact us</li>
			<li class="ib">Policy</li>
			<li class="ib">Save & Share ©</li>
		</ul>
	</footer>

</main>
