/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

$brand-primary: #e14820;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

html, body {
	height: 100%;
	width:100%;
}

body {
	&.item {
		background: url('https://dl-web.dropbox.com/get/share/camping_luxe.jpg?_subject_uid=43165086&w=AAArZ-2mHz4F4UAP4dZgSa-uhReP2aGtgYjfxca-1ogx0w')no-repeat center center fixed;
	}
	
	&.user {
		background: url('https://dl-web.dropbox.com/get/share/friends.jpg?_subject_uid=43165086&w=AAAo6gCJO0iUk-yPQb0nlQ8wpQCQm1QWLgx0ih20crIrMw') no-repeat center center fixed;
	}
	background-size: cover;
}


.bgray {
	margin-top: 40px;
	background: rgba(255,255,255,0.8);
	width: 400px;
}
