/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

$brand-primary: #e14820;
$brand-background: #f4f4f4;
$brand-secondary: #5e6b7c;
$brand-success:#5e6b7c;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


html, body {
	height: 100%;
	width:100%;
}

nav {
	background-color: $brand-background;
	opacity: 0.9;

	#search {
		position: fixed;
		right:20px;
		top: 6px;
		margin-right:20px;
	}

	#head-btn {
		margin-right:120px;
	}

}

.m-top {
	margin-top:80px;
}

.btn:focus {
	outline:none;
}

.btn:active {
	outline:none;
}

.btn-secondary {
	background-color: #e9e9e9!important;
}

.btn-secondary:hover {
	color:$brand-primary;
	background-color: #dadada!important;
}

#sm-logo {
	width: 210px;
}

body {
	&.item {
		background: url('https://dl-web.dropbox.com/get/share/tricycle.jpg?_subject_uid=43165086&w=AACJewfMyaIXn2Yptj46I_9XEZAScQM7j-EZ_P8U2OE0mg')no-repeat center center fixed;
	}

	&.user {
		background: url('https://dl-web.dropbox.com/get/share/girl2.jpg?_subject_uid=43165086&w=AADJG8QZO3x6_yygRYB69m6zMbY2xG8X_YVn0ow-bqYxYA') no-repeat center center fixed;
	}

	background-size: cover;
}


.bgray {
	margin-top: 40px;
	background: rgba(255,255,255,0.8);
	width: 400px;
}

.bg-orange {
	border: 1px solid #e14820;
}


.col-md-4 {
	padding:10px;
}

.form {
	padding:0 20px 20px 20px;
}

input[type=search] {
	background: #f4f4f4 url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #f4f4f4;
	padding: 8px 9px 8px 32px;
	width: 55px;
	z-index:3;


	-webkit-border-radius: 7em;
	-moz-border-radius: 7em;
	border-radius: 7em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

#search input[type=search] {
	width: 55px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}

#search input[type=search]:hover {
	background-color: transparent;

}

#search input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color:#e5e5e5;
	outline:none;
}

#search input:-moz-placeholder {
	color: transparent;
}

#search input::-webkit-input-placeholder {
	color: transparent;
}

footer {
	width:100%;
	position:relative;
	bottom:0;
}

.menu {
	right:20px;
	color: #424242;
	height: 30px;
	bottom:0;
	text-align:right;
	margin-right:20px;
	margin-top:60px;
	position:fixed;

}

.date {
	display: inline-block;
	width: 110px;
	padding: 6px 6px;
	margin: 0px 0px 20px 0px;
}

.ib {
	display: inline-block;
	text-decoration: none;
	margin-left: 20px;
	vertical-align: center;
}

#list {
	margin-top: 30px;
	ul {
		list-style-type: none;
	}
}

#item {
	border-radius: 6px;
	padding: 10px;
	// border: 1px solid #dadada;
	height:402px;
	margin-top:15px;
	.btn {
		padding: 2px 20px;
		margin-top: 20px;
		position: relative;
		bottom: 5px;
		margin-right: 5px;
	}
}

#itemName {
	font-weight: bold;
}

#itemImg {
	width: 288px;
	height: 218px;
}

h4 {
	margin: 0px;
}

p {
	margin:0px;
}

#nav-header {
	padding-top:10px;
}

.tmargin {
	margin: 10px 0;
}

h2 {
	color: $brand-secondary;
}