html, body  {
	height: 100%;
	width:100%;
}


body {
	position: relative;
  display:table;
	background: url('https://dl-web.dropbox.com/get/share/bg_home.jpg?_subject_uid=43165086&w=AABNNgkxSDfjXxcO54RxPmUIiUV81CUegE4hwbTVb67qYA');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
  background-repeat: no-repeat;
  // z-index: 1111;
  // -webkit-filter: grayscale(0.4);
}


.menu {
	position:fixed;
	right:20px;
	color: #fff;
	height: 30px;
	bottom:0px;
}

.sm {
	color: #fff;
	text-align: right;
	position: absolute;
	top:10px;
	right:30px;
}


.ib {
	display: inline-block;
	text-decoration: none;
	margin-left: 20px;
	vertical-align: center;
}


.info {
	display:table-cell;
	vertical-align:middle;
	font-size: 18px;
	line-height: 28px;
	color: #fff;
	width: 100%;
	text-align: center;
	img {
		margin:0 auto;
	}
}


.info p {
	font-size: 18px;
}

.buttons-home {
	margin-top: 20px;
}


.buttons-home .btn {
	width: 150px;
}

.buttons-home .btn-default {
	margin-right: 10px;
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
}

