/*.img .people {
	background:  url('people.jpg');
}*/

* {
	padding: 0;
	margin: 0;
}

main {
	height: 785px;
	position: relative;
  display: block;
	background: url('https://dl-web.dropbox.com/get/share/girl2.jpg?_subject_uid=43165086&w=AADJG8QZO3x6_yygRYB69m6zMbY2xG8X_YVn0ow-bqYxYA');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 1111;
}


}
.menu {
	display:inline-block;
}


.info {
display: inline-block;
vertical-align: middle;
font-size: 18px;
line-height: 28px;
color: #fff;
width: 100%;
text-align: center;
}

