
main {
	height: 785px;
	position: relative;
  	display: block;
	background: url('https://dl-web.dropbox.com/get/share/camping_luxe.jpg?_subject_uid=43165086&w=AAArZ-2mHz4F4UAP4dZgSa-uhReP2aGtgYjfxca-1ogx0w');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
 	 background-repeat: no-repeat;
  	z-index: 1111;
  	-webkit-filter: grayscale(0.4);
}

.bgray {
	margin-top: 40px;
	background: rgba(255,255,255,0.8);
	width: 400px;
}
