<!DOCTYPE html>
<html>
<head>
  <title>ShareProject</title>
  <%= stylesheet_link_tag  'shared/application', media: 'all', 'data-turbolinks-track' => true %>
   <%= stylesheet_link_tag  'item', media: 'all', 'data-turbolinks-track' => true %>

</head>
<body>

	<% if flash[:notice].present? %>
	<p class="alert alert-success"><%= flash[:notice] %></p>
	<% end %>

<%= yield %>

<footer>
		<ul class="menu">
			<li class="ib">Contact us</li>
			<li class="ib">Policy</li>
			<li class="ib">Save & Share ©</li>
		</ul>
</footer>

</body>

</html>
